/*
Project Name : Daosulta's Portfolio

TABLE OF CONTENTS

PART 1: CSS Plugins Styles

	1.1)  Skeleton Grid  v.1.2
	1.2)  Isotope        v.1.5.21
	1.3)  Pageslide      v.2.0
	1.4)  FancyBox       v.2.1.4

PART 2: Custom CSS Code

	2.1)  Resets
	2.2)  Common CSS3 transitions
	2.3)  Site Header
	2.4)  Main Banner
	2.5)  About
	2.6)  Portfolio
	2.7)  Resume
	2.8)  Contact
	2.9) Site Footer
	2.10) Go to Top Button
	2.11)  Responsive Styles
*/
/**********************************************************/


/*
*****************************************
*  1.1 Skeleton Grid v1.2 (Copyright 2011, Dave Gamache(www.getskeleton.com)
*****************************************
	#Base 960 Grid
	#Tablet (Portrait)
	#Mobile (Portrait)
	#Mobile (Landscape)
	#Clearing */

/* #Base 960 Grid
================================================== */

.container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.container .column,
.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                        { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns                     { width: 40px;  }
.container .two.columns                     { width: 100px; }
.container .three.columns                   { width: 160px; }
.container .four.columns                    { width: 220px; }
.container .five.columns                    { width: 280px; }
.container .six.columns                     { width: 340px; }
.container .seven.columns                   { width: 400px; }
.container .eight.columns                   { width: 460px; }
.container .nine.columns                    { width: 520px; }
.container .ten.columns                     { width: 580px; }
.container .eleven.columns                  { width: 640px; }
.container .twelve.columns                  { width: 700px; }
.container .thirteen.columns                { width: 760px; }
.container .fourteen.columns                { width: 820px; }
.container .fifteen.columns                 { width: 880px; }
.container .sixteen.columns                 { width: 940px; }

.container .one-third.column                { width: 300px; }
.container .two-thirds.column               { width: 620px; }

/* Offsets */
.container .offset-by-one                   { padding-left: 60px;  }
.container .offset-by-two                   { padding-left: 120px; }
.container .offset-by-three                 { padding-left: 180px; }
.container .offset-by-four                  { padding-left: 240px; }
.container .offset-by-five                  { padding-left: 300px; }
.container .offset-by-six                   { padding-left: 360px; }
.container .offset-by-seven                 { padding-left: 420px; }
.container .offset-by-eight                 { padding-left: 480px; }
.container .offset-by-nine                  { padding-left: 540px; }
.container .offset-by-ten                   { padding-left: 600px; }
.container .offset-by-eleven                { padding-left: 660px; }
.container .offset-by-twelve                { padding-left: 720px; }
.container .offset-by-thirteen              { padding-left: 780px; }
.container .offset-by-fourteen              { padding-left: 840px; }
.container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container                                  { width: 720px; }
	.container .column,
	.container .columns                         { margin-left: 10px; margin-right: 10px;  }
	.column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
	.column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
	.alpha.omega                                { margin-left: 0; margin-right: 0; }

	.container .one.column,                                       
	.container .one.columns                     { width: 25px; }  
	.container .two.columns                     { width: 70px; }  
	.container .three.columns                   { width: 115px; } 
	.container .four.columns                    { width: 160px; } 
	.container .five.columns                    { width: 205px; } 
	.container .six.columns                     { width: 250px; } 
	.container .seven.columns                   { width: 295px; } 
	.container .eight.columns                   { width: 340px; } 
	.container .nine.columns                    { width: 385px; } 
	.container .ten.columns                     { width: 430px; } 
	.container .eleven.columns                  { width: 475px; } 
	.container .twelve.columns                  { width: 520px; } 
	.container .thirteen.columns                { width: 565px; } 
	.container .fourteen.columns                { width: 610px; } 
	.container .fifteen.columns                 { width: 655px; } 
	.container .sixteen.columns                 { width: 700px; } 

	.container .one-third.column                { width: 220px; } 
	
	.container .two-thirds.column               { width: 460px; } 
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 479px) {
	.container { width: 280px; }
	.container .columns,
	.container .column { margin-left: 0; margin-right: 0; }

	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column  { width: 280px; }

	/* Offsets */
	.container .offset-by-one,
	.container .offset-by-two,
	.container .offset-by-three,
	.container .offset-by-four,
	.container .offset-by-five,
	.container .offset-by-six,
	.container .offset-by-seven,
	.container .offset-by-eight,
	.container .offset-by-nine,
	.container .offset-by-ten,
	.container .offset-by-eleven,
	.container .offset-by-twelve,
	.container .offset-by-thirteen,
	.container .offset-by-fourteen,
	.container .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container { width: 420px; }
	.container .columns,
	.container .column { margin-left: 10px !important; margin-right: 10px !important; }

	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column { width: 400px; }
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

	/* Use clearfix class on parent to clear nested columns,
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;}
		.row:after,
		.clearfix:after {
			clear: both; }

			/* You can also use a <br class="clear" /> to clear columns */
			.clear {
				clear: both;
				display: block;
				overflow: hidden;
				visibility: hidden;
				width: 0;
				height: 0;
			}


/*
*****************************************
*  1.2  Isotope Plugin Styles v1.5.21
*****************************************
*/

/**** Isotope Filtering ****/

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width !important;
	-moz-transition-property: height, width !important;
	-ms-transition-property: height, width !important;
	-o-transition-property: height, width !important;
	transition-property: height, width !important;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:      -o-transform, opacity;
	transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}


/*
***********************
*  1.3 Pageslide v.2.0
***********************
*/

#pageslide {
	/* These styles MUST be included. Do not change. */
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	
	/* Specify the width of your pageslide here */
	width: 180px;
	padding: 15px;
	
	/* These styles are optional, and describe how the pageslide will look */
	background-color: #333;
	color: #FFF;
}

#modal {
	display: none;
}

/*
***********************
*  1.4 FancyBox 2.1.4
***********************
*/

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('/img/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('/img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('/img/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('/img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Additional styles to move navigation arrows outside of lightbox*/

.fancybox-nav {
	width: 90px;       
}

.fancybox-nav span {
	visibility: visible;
	opacity: 0.5;
}

.fancybox-nav:hover span {
	opacity: 1;
}

.fancybox-next {
	right: -90px;
}

.fancybox-prev {
	left: -90px;
}


/*******************************************************************/


/*
***********************
*  2.1 Resets
***********************
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	-ms-box-sizing    : border-box;
	box-sizing        : border-box;
}


* {
	margin : 0;
	padding: 0;
}

img {
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
	border-spacing : 0;
}

* {
	border : none;
	outline: 0;
}

:focus{
	outline: 0;
}

* {
	background-color: transparent;
}

li {
	list-style: none;
}

a, a:hover, a:visited, ins, del {
	text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: ''; 
	content: none;
}

section, article, aside, hgroup, header, footer, nav, figure, figcaption {
	display: block;
}

time, mark {
	display: inline;
}

/*
********************************
*  2.2 Common CSS3 transitions
********************************
*/

/*Note: :not() selector prevents unnecessary layout shuffling of Isotope portfolio items on initial page load*/

*:not(.isotope-item):not(.animated):not([class*='fancybox']) {
	-webkit-transition: -webkit-transform 0.5s, color 0.5s, border 0.5s, background 0.5s, opacity 0.5s, top 0.5s, left 0.5s;
	-moz-transition: -moz-transform 0.5s, color 0.5s, border 0.5s, background 0.5s, opacity 0.5s, top 0.5s, left 0.5s;
	-o-transition: -o-transform 0.5s, color 0.5s, border 0.5s, background 0.5s, opacity 0.5s, top 0.5s, left 0.5s;
	-ms-transition: -ms-transform 0.5s, color 0.5s, border 0.5s, background 0.5s, opacity 0.5s, top 0.5s, left 0.5s;
	transition: transform 0.5s, color 0.5s, border 0.5s, background 0.5s, opacity 0.5s, top 0.5s, left 0.5s;
}

body {
	-webkit-transition: none !important;
	-moz-transition   : none !important;
	-o-transition     : none !important;
	-ms-transition    : none !important;
	transition        : none !important;
}



/*
***********************
*  2.3 Site Header
***********************
*/

body {
	padding-top: 90px;
	opacity: 0;
	background: url(/img/debut_light.png);
}

.b-head {
	width           : 100%;
	height          : 90px;
	background-color: #fff;
	border-top      : 4px solid #0ab68e;
	border-bottom   : 1px solid #ccc;

	position: fixed;
	top     : 0;
	z-index : 1000;
}

.b-head__wrap {
	width : 1060px;
	margin: 0 auto;
	height: 100%;

	opacity: 0;
}

/*Site Logo*/

.b-head-logo {
	width    : 30%;
	min-width: 180px;
	float    : left;
	display  : table;
	height   : 100%;
}

.b-head-logo a {
	display       : table-cell;
	width         : 100%;
	height        : 100%;
	vertical-align: middle;
}

.b-head-logo img {
	vertical-align: middle;
}


/*Site Navigation*/

.b-head-nav,
.b-head-nav ul,
.b-head-nav li,
.b-head-nav li a {
	height: 100%;
}

.b-head-nav {
	text-align: right;
	width     : 70%;
	float     : left;
}

.b-head-nav ul {
	display: inline-block;
}

.b-head-nav li {
	display     : table;
	float       : left;
	margin-right: 35px;
}

.b-head-nav a {
	display       : table-cell;
	vertical-align: middle;

	text-transform: uppercase;
	font-family   : 'Arial', sans-serif;
	font-weight   : 400;
	font-size     : 12px;
	letter-spacing: 0.08em;
	color         : #919191;
}

.b-head-nav li:last-child {
	margin-right: 0;
}

.b-head-nav .active-link {
	color: #0ab68e;
}

.b-head-nav li a:hover {
	color: #0ab68e; 
}


/*Navigation for Smartphones*/

.small-nav {
	display   : table;
	display   : none;
	float     : right;
	text-align: right;
	height    : 100%;
}

.small-nav div:before {
	content  : 'Navigation';
	font-size: 13px;
}

.small-nav div {
	height        : 100%;
	display       : table-cell;
	vertical-align: middle;
	font-family   : 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size     : 14px;
	font-weight   : normal;
	font-style    : normal;
	color         : #838383;
}

.small-nav div:hover {
	cursor: pointer;
	color : #0ab68e;
}

#pageslide {
	background  : #0ab68e;
	border-right: 4px solid #fff;
}

#pageslide a {
	color         : #fff;
	font-family   : 'Open Sans', 'Arial', sans-serif;
	font-size     : 14px;
	letter-spacing: 0.07em;
	display       : block;
	height        : 40px;
	line-height   : 40px;
	padding-left  : 10px;
	margin-top    : 4px;
	margin-bottom : 4px;
	background    : rgba(0, 0, 0, 0.2);
}

#pageslide li:first-child a {
	margin-top: 0;
}

#pageslide a:hover {
	background: rgba(255, 255, 255, 1);
	color     : #0ab68e;
}

#pageslide .close-nav {
	background: transparent;
	border: 1px solid #fff;
	margin-top: 16px;
}


/*
***********************
*  2.4 Main Banner
***********************
*/

.main-banner {
	width        : 1060px;
	margin : 75px auto;
}

.main-banner:after {
	content   : "\0020";
	display   : block;
	height    : 0;
	clear     : both;
	visibility: hidden;
}

.main-banner .banner {
	display     : block;
	max-width   : 720px;
	margin-right: 40px;
	float       : left;
}

.main-banner .main-logo {
	width      : 300px;
	float      : left;
	padding-top: 65px;
}

.main-banner .main-slogan {
	width     : 300px;
	float     : left;
	margin-top: 15px;
}

.main-slogan {
	display       : block;
	text-transform: none;
	font-family   : 'Open Sans Condensed', 'Arial', sans-serif;
	font-weight   : 300;
	font-size     : 27px;
	color         : #7a7a7a;
	letter-spacing: 0.08em;
	line-height   : 120%;
}

/*
***********************
*  2.5 About
***********************
*/

#about {
	overflow: hidden;
}

.about-photo {
	background: #fff;
}

.about-photo img {
	opacity: 0.9;
}

.about-photo figcaption {
	background: #0ab68e;
	border-top: 1px solid #fff;
}

.about-social-list {
	border-top  : 1px solid #fff;
	padding-left: 10px
}

.about-social-list li {
	display: inline;
}

.about-social-list li a {
	display      : inline-block;
	height       : 40px;
	line-height  : 40px;
	padding-left : 10px;
	padding-right: 10px;
}

.about-social-list li a:hover {
	background: rgba(255, 255, 255, 0.2);
}

.about-social-list li a img {
	line-height   : 40px;
	vertical-align: middle;
}

.slider-pagination {
	text-align: center;
}

.slider-pagination li {
	display      : inline-block;
	margin-left  : 4px;
	margin-right : 4px;
	width        : 10px;
	height       : 10px;
	border-radius: 10px;
	background   : #b8b7b7;
}

.slider-pagination li:hover {
	background: #0ab68e;
	cursor    : pointer;
}

.slider-pagination li.flex-active {
	background: #0ab68e;
	cursor    : default;
}

.arrow-left {
	text-align  : left;
	padding-left: 10px;
	padding-top : 20px;
}

.arrow-left:before {
	content: url(/img/arrow-left.png);
}

.arrow-right {
	text-align   : right;
	padding-right: 10px;
	padding-top  : 20px;
}

.arrow-right:before {
	content: url(/img/arrow-right.png);
}

.arrow-left:hover,
.arrow-right:hover {
	opacity: 0.6;
	cursor : pointer;
}


/*
***********************
*  2.6 Portfolio
***********************
*/

.macro-block {
	width        : 1060px;
	max-width: 100%;
	margin-left  : auto;
	margin-right : auto;
	margin-bottom: 60px;
}

.macro-block:last-child {
	margin-bottom: 0;
}

.macro-block-content {
	background                : #fff;
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
	border-left               : 1px solid #cac9c9;
	border-right              : 1px solid #cac9c9;
	border-bottom             : 1px solid #cac9c9;
	padding-top               : 60px;
	padding-bottom            : 60px;
}

[class*="macro-block-heading"] {
	text-align    : center;
	background    : #0ab68e;
	font-family   : 'Open Sans', 'Arial', sans-serif;
	font-weight   : 400;
	color         : #fff;
	font-size     : 20px;
	letter-spacing: 0.23em;
	height        : 40px;
	line-height   : 40px;

	border-top-left-radius : 10px;
	border-top-right-radius: 10px;
}

/*Filter*/

.filter {
	text-align   : center;
	margin-bottom: 60px;
}

.filter li {
	display       : inline;
	margin-right  : 15px;
}

.filter li,
.filter li a {
	font-family   : 'Open Sans', 'Arial', sans-serif;
	font-weight   : 400;
	font-size     : 14px;
	color         : #919191;
	line-height   : 120%;
	letter-spacing: 0.07em;
}

.filter li:last-child {
	margin-right: 0;
}

.filter .active-filter a {
	background: #0ab68e;
	color     : #fff;
	padding   : 3px 8px;
}

.filter li:not(.active-filter) a:hover {
	color: #0ab68e;
}

/*Tiles*/

.tiles {
	margin-bottom: -20px;
}

.tiles li {
	background   : #fff;
	position     : relative;
	margin-bottom: 20px;
}

.tiles li img {
	opacity: 0.9;
}

.overlay {
	position  : absolute;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	background: rgba(33, 51, 54, 0.9);
	text-align: center;
	opacity   : 0;
	color     : #fff;
	overflow  : hidden;
	font-size : 0;
}

.overlay:before {
	content       : '';
	display       : inline-block;
	height        : 100%;
	vertical-align: middle;
	margin-right  : -0.25em;
}

.overlay-inner {
	display       : inline-block;
	vertical-align: middle;
	width         : 100%;
}

.zoom-icon {
	position: relative;
	top     : -100px;
}

.zoom-icon span:before {
	content : url(/img/zoom-icon.png);
}

.zoom-icon span {
	display: inline-block;
}

.zoom-icon span:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

/*Note: element <p class="zoom-icon"><span></span></p> is added via JS code in scripts.js part 2.1*/

.project-title {
	font-family   : 'Open Sans', 'Arial', sans-serif;
	font-weight   : 700;
	font-size     : 14px;
	letter-spacing: 0.07em;
	margin-top    : 15px;
	margin-bottom : 5px;
	position      : relative;
	left          : -100%;
}

.tags {
	font-family   : 'Open Sans', 'Arial', sans-serif;
	font-weight   : 400;
	font-style    : italic;
	font-size     : 14px;
	letter-spacing: 0.07em;
	position      : relative;
	left          : 100%;
}

.overlay:hover {
	opacity: 1;
}

.overlay:hover .project-title,
.overlay:hover .tags {
	left: 0;
}

.overlay:hover .zoom-icon {
	top: 0;
}

.item-wrap:not(.animated) .overlay,
.item-wrap:not(.animated) a {
	pointer-events: none !important;
	cursor        : default !important;
}

.fancybox-title,
.child a,
.child a:visited{
	color: #fff;
}

/*
***********************
*  2.7 resume
***********************
*/

.resume-experience {
	margin-bottom: 30px;
}

.resume-experience figure,
.resume-skills figure {
	text-align: center;
}

.resume-experience figcaption,
.resume-skills figcaption {
	border-top: 1px solid #0ab68e;
	margin: 10px 0; padding: 10px 0;

}

h3 {
	font-family   : 'Open Sans Condensed', 'Arial', sans-serif;
	font-weight   : 600;
	margin: .2em 0;
	font-weight: 400;
	font-size: 112.5%;
	color: #0ab68e;
}

[class*="content-heading"] {
	font-family   : 'Open Sans', 'Arial', sans-serif;
	font-weight   : 600;
	font-size     : 18px;
	letter-spacing: 0.05em;
	color         : #5d5d5d;
	line-height   : 120%;
	margin-bottom : 12px;
}

.basic-text {
	font-family   : 'Open Sans', 'Arial', sans-serif;
	font-weight   : 400;
	font-size     : 14px;
	letter-spacing: 0.05em;
	color         : #aaa7a7;
	line-height   : 25px;
}

.basic-text-small {
	font-family   : 'Open Sans Condensed', 'Arial', sans-serif;
	font-weight   : 400;
	font-size     : 14px;
	line-height   : 18px;
	color         : #5d5d5d;
}

[class*="macro-block-heading-sub"] {
	color         : #0ab68e;
	background    : transparent;
	height        : auto;
	line-height   : 120%;
	border-radius : 0;
	margin-top    : 55px;
	margin-bottom : 55px;
	position      : relative;
}

[class*="macro-block-heading-sub"] span {
	display      : inline-block;
	z-index      : 22;
	background   : #fff;
	position     : relative;
	padding-left : 20px;
	padding-right: 15px;
}

[class*="macro-block-heading-sub"]:before {
	content   : "";
	display   : block;
	height    : 1px;
	width     : 100%;
	border-top: 1px solid #d0d0d0;
	position  : absolute;
	top       : 50%;
	z-index   : 1;
}

.full-width-img {
	text-align: center;
}

.full-width-img img {
	max-width : 100%;
}

.process-img {
	padding-top: 10px;
}

.resume-details .column,
.resume-details .columns {
	margin-top: 35px;
}

.resume-details {
	margin-top: -35px;
}


/*
***********************
*  2.8 Contact
***********************
*/

.contact .content-heading {
	margin-bottom: 22px;
}

/*Contact Details*/

.contact-details-list div {
	margin-bottom: 20px;
	position     : relative;
}

.bold {
	font-weight: 700;
	color      : #5d5d5d;
}

.contact-details-list p {
	line-height: 150%;
	margin-left: 40px;

}

.contact-details-list div:before {
	position   : absolute;
	top        : 4px;
	left       : 0;
}

.phone-icon:before {
	content: url(/img/phone-icon.png);
}

.skype-icon:before {
	content: url(/img/skype-icon.png);
	left   : -4px !important;
}

.email-icon:before {
	content: url(/img/email-icon.png);
	left   : -4px !important;

}

.address-icon:before {
	content: url(/img/address-icon.png);
}

/*Social Links*/

.square-link {
	display   : inline-block;
	width     : 100px;
	height    : 100px;
	background: #0ab68e;
	text-align: center;
	line-height: 100px;
}

.square-link:hover {
	opacity: 0.7;
}

.square-link:hover img {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.square-link img {
	vertical-align: middle;
}

.thin-text {
	font-family   : 'Open Sans', 'Arial', sans-serif;
	font-weight   : 300;
	font-size     : 18px;
	color         : #b4b4b4;
	line-height   : 30px;
	letter-spacing: 0.05em;
}

.social-links .thin-text {
	position: relative;
	top     : -8px;
}


/*
***********************
*  2.9 Site Footer
***********************
*/

.site-footer {
	margin-top: 30px;
	width           : 100%;
	height          : 90px;
	background-color: #fff;
	border-bottom   : 4px solid #0ab68e;
	border-top      : 1px solid #ccc;
}

.site-footer .b-head__wrap {
	height: 85px;
	background: url(/img/emblem.png) center center no-repeat;
}

/*Site Footer Elements*/

.left-element {
	float     : left;
	text-align: left;
}

.right-element {
	float     : right;
	text-align: right;
}

.left-element,
.right-element {
	width         : 50%;
	height        : 85px;
	line-height   : 85px;
}

.site-footer,
.site-footer a {
	text-transform: uppercase;
	color         : #919191;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: normal;
	font-size     : 12px;
	letter-spacing: 0.1em;
}

.site-footer a:hover {
	color: #0ab68e;   
}

/*
**************************
*  2.10 Go to Top Button
**************************
*/

.go-to-top {
	display      : block;
	width        : 40px;
	height       : 40px;
	background   : rgba(33, 51, 54, 0.2);
	border-radius: 5px;

	line-height: 40px;
	text-align : center;

	position: fixed;
	z-index : 1000;
	bottom  : 20px;
	right   : 20px;
}

.go-to-top:before {
	content : url(/img/arrow-up.png);
	position: relative;
	top     : 1px;
}

.go-to-top:hover {
	background: rgba(33, 51, 54, 0.4);
	cursor    : pointer;
}


/*
**************************
*  2.11 Responsive Styles
**************************
*/

/*Responsive image*/

.portfolio img,
.process-img img,
.news img,
.about-photo img {
	width: 100%;
}

/*Animation for site header*/

.b-head,
.b-head div,
.b-head nav,
.b-head ul,
.b-head li,
.b-head a,
.b-head img
{
	-webkit-transition: all 0.5s !important;
	-moz-transition   : all 0.5s !important;
	-o-transition     : all 0.5s !important;
	-ms-transition    : all 0.5s !important;
	transition        : all 0.5s !important;
}

/*Tablet portrait and up*/

@media only screen and (min-width: 768px) {

	/*Sticky Navigation*/

	.b-head.sticky {
		height          : 40px;
		border-top-width: 2px;
	}

	.b-head.sticky .b-head-logo a {
		opacity: 0;
	}

	.b-head.sticky .b-head-nav {
		opacity: 0.5;
	}

	.b-head.sticky .b-head-nav:hover {
		opacity: 1;
	}
	
}

/*Mobile & Desktop small  up to 1250*/

@media only screen and (max-width: 1250px) {

	.main-banner .main-slogan {font-size: 24px}
	
}


/*#Tablet (Landscape) & Desktop small  1024 - 1250*/

@media only screen and (min-width: 1024px) and (max-width: 1250px) {

	.macro-block,
	.b-head__wrap,
	.main-banner    {width: 980px;}

	.main-banner .banner {width: 720px; margin-right: 30px;}
	.main-banner .main-logo {width: 100%; text-align: center;}
	.main-banner .main-logo img {width: 100px;}
	.main-banner .main-slogan { width: 230px; font-size: 24px;}
	
}

/*#Tablet (Portrait)    768 - 1023*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.macro-block,
	.b-head__wrap,
	.main-banner {width: 740px;}

	.main-banner .banner {width: 520px; margin-right: 30px;}
	.main-banner .main-logo {width: 100%; text-align: center;}
	.main-banner .main-logo img{width: 190px;}
	.main-banner .main-slogan {width: 190px;}

	.b-head-nav li {margin-right: 20px;}
	.b-head-nav li:last-child {margin-right: 0;}

	.social-links .thin-text {font-size: 14px; letter-spacing: 0.05em; line-height: 24px; top: 0;}
	.social-links .square-link {height: 70px; line-height: 70px;}

	.contact-details-list .basic-text,
	.contact-form input:not([type='submit']),
	.contact-form textarea,
	.contact-form .note {font-size: 12px;}

	.contact-details-list p {margin-left: 30px;}

	.project-title {font-size: 13px; letter-spacing: 0.03em; margin-bottom: 0;}
	.tags {font-size: 12px; letter-spacing: 0.03em;}

	.main-banner .main-logo {padding-top: 30px;}

	[class*="content-heading"] {font-size: 14px;}

	.basic-text {font-size: 13px}

	.about-social-list {padding-left: 0}

	.testimonial-text {font-size: 14px; line-height: 150%;}

	.site-footer a {font-size: 11px}
}

/* Both #Mobile (Landscape) & #Mobile (Portrait)*/
@media only screen and (max-width: 767px) {

	#work-process,
	.b-head-nav {display: none;}

	.about-photo{margin-bottom: 40px}

	.about-photo:last-child {margin-bottom: 0}

	.arrow-left,
	.arrow-right {display: none !important;}

	.social-links .thin-text {text-align: center; margin: 20px 0}

	.go-to-top {width: 30px; height: 30px; line-height: 30px; bottom: 10px; right: 10px; border-radius: 3px;}

	.main-banner .main-slogan {width: 100%; text-align: center;}

	.b-head {height: 40px !important; border-top-width: 2px !important;}
	.b-head .b-head-logo img {max-height: 20px !important}
	.b-head-logo img {position: relative; top: -4px;}
	body {padding-top: 40px;}
	.main-banner {margin-top: 40px; margin-bottom: 40px;}
	.main-logo {padding-top: 20px !important;}

	.b-head.sticky .b-head__wrap {opacity: 0.5}

	.testimonial-text {font-size: 14px; line-height: 24px;}

	.small-nav {display: table;}

	#pageslide a {font-size: 11px; height: 25px; line-height: 25px; letter-spacing: 0.1em; }
}

/*#Mobile (Portrait)    320 - 479*/

@media only screen and (max-width: 479px) {

	.macro-block,
	.b-head__wrap,
	.main-banner {width: 300px;}

	.main-banner .banner {width: 300px; margin-right: 0px;}
	.main-banner .main-logo img {width: 60px;} 
	.main-banner .main-logo {width: 100%; text-align: center;}
	.main-banner .main-slogan {width: 300px;} 
	.site-footer .b-head__wrap {background: none;}

	ul.tiles.container,
	.tiles .one-third.column {max-width: 280px;}

	.about-photo-wrap {
		width: 220px !important;
		margin-left : auto !important;
		margin-right: auto !important;
	}

	.about-photo {width: 220px !important;}

}


/*#Mobile (Landscape)   480 - 767*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.macro-block,
	.b-head__wrap,
	.main-banner {width: 440px;}

	.main-banner .banner {width: 420px; margin-right: 0px;}
	.main-banner .main-logo img {width: 80px;}
	.main-banner .main-logo {width: 100%; text-align: center;}
	.main-banner .main-slogan {width: 420px;}

	.tiles .one-third.column {width: 190px; margin-left: 10px; margin-right: 10px;}
	.about-photo {
		width       : 190px !important;
		margin-left : 10px !important;
		margin-right: 10px !important;
	}

	.contact-form input:not([type='submit']),
	.contact-form textarea {
		margin-left : 0px !important;
		margin-right: 0px !important;
	}

	.contact-details-list {margin-bottom: 50px !important}

	.project-title {font-size: 12px; letter-spacing: 0.03em; margin-bottom: 0; margin-top: 5px;}
	.tags {font-size: 12px; letter-spacing: 0.03em;}
}